# Project CAPES: Cleaning Dataset

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('ggplot')

## Overview

In [3]:
# Import unified dataset
Capes_raw = pd.read_csv('Capes_raw.csv')
# Drop the doubled index
Capes_raw = Capes_raw.drop(columns=Capes_raw.columns[0])

Capes_raw

,Instructor,Course,Term,Enroll,Evals Made,Rcmnd Class,Rcmnd Instr,Study Hrs/wk,Avg Grade Expected,Avg Grade Received
0,"Kalleres, Dayna",RELI 1 - Introduction to Religion (A),FA22,37,11,90.9%,100.0%,2.50,B (3.20),A (4.00)
1,"Rahimi, Babak",RELI 149 - Islam in America (A),S122,40,5,100.0%,100.0%,3.70,A- (3.80),A- (3.98)
2,"Rahimi, Babak",RELI 101 - Tools&Methods/Studyof Religion (A),WI22,39,10,90.0%,90.0%,3.61,B+ (3.67),A- (3.73)
3,"Rahimi, Babak",RELI 188 - Special Topics in Religion (A),WI22,34,11,80.0%,90.0%,3.90,A- (3.90),A- (3.81)
4,"Kalleres, Dayna",RELI 1 - Introduction to Religion (A),FA21,37,18,81.3%,75.0%,2.50,A- (3.85),A- (3.74)
...,...,...,...,...,...,...,...,...,...,...
61301,"Gladstein, Jill M",SYN 1 - Perspectives/Changing Planet (0),WI22,404,243,90.9%,93.4%,3.95,A- (3.94),A- (3.90)
61302,"Gladstein, Jill M",SYN 2 - Explorations/Changing Planet (0),WI22,191,93,77.0%,88.5%,4.18,A- (3.79),A- (3.89)
61303,"Gladstein, Jill M",SYN 2 - Explorations/Changing Planet (0),FA21,319,135,68.0%,74.4%,3.89,A- (3.93),A- (3.88)
61304,"Gladstein, Jill M",SYN 1 - Perspectives/Changing Planet (0),SP21,235,107,90.6%,95.3%,5.15,A- (3.85),A- (3.88)
61305,"Gladstein, Jill M",SYN 1 - Perspectives/Changing Planet (0),WI21,318,181,89.1%,91.3%,4.06,A- (3.91),A- (3.88)

### Tidying Plan
We create a tasklist of things to prepare the DataFrame for easier analysis:
- [ ] Check the DataFrame for duplicates, then remove them.
- [ ] Split `Course` into `Course Name` and `Course Desc`.
- [ ] Create a column `Course Type` that identifies the course type (Lower Div, Upper Div, Seminar)
- [ ] Convert `Enroll` and `Evals Made` into `int`.
- [ ] Split `Term` into `Term Type` and `Term Year`.
- [ ] Convert `Rcmnd Class` and `Rcmd Instr` into `float`.
- [ ] Convert `Study Hrs/wk` into `float`.
- [ ] Split `Avg Grade Expected` and `Avg Grade Recieved` into `Avg Letter` and `Avg GPA` respectively.

We will save the results of these into `Capes_tidy.csv`

## Tidying

### Step 1: Duplicates
Check the DataFrame for duplicates, then remove them.

In [3]:
# Pandas function to drop duplicate classes
Capes_raw_1 = Capes_raw.drop_duplicates()
Capes_raw_1

,Instructor,Course,Term,Enroll,Evals Made,Rcmnd Class,Rcmnd Instr,Study Hrs/wk,Avg Grade Expected,Avg Grade Received
0,"Kalleres, Dayna",RELI 1 - Introduction to Religion (A),FA22,37,11,90.9%,100.0%,2.50,B (3.20),A (4.00)
1,"Rahimi, Babak",RELI 149 - Islam in America (A),S122,40,5,100.0%,100.0%,3.70,A- (3.80),A- (3.98)
2,"Rahimi, Babak",RELI 101 - Tools&Methods/Studyof Religion (A),WI22,39,10,90.0%,90.0%,3.61,B+ (3.67),A- (3.73)
3,"Rahimi, Babak",RELI 188 - Special Topics in Religion (A),WI22,34,11,80.0%,90.0%,3.90,A- (3.90),A- (3.81)
4,"Kalleres, Dayna",RELI 1 - Introduction to Religion (A),FA21,37,18,81.3%,75.0%,2.50,A- (3.85),A- (3.74)
...,...,...,...,...,...,...,...,...,...,...
61301,"Gladstein, Jill M",SYN 1 - Perspectives/Changing Planet (0),WI22,404,243,90.9%,93.4%,3.95,A- (3.94),A- (3.90)
61302,"Gladstein, Jill M",SYN 2 - Explorations/Changing Planet (0),WI22,191,93,77.0%,88.5%,4.18,A- (3.79),A- (3.89)
61303,"Gladstein, Jill M",SYN 2 - Explorations/Changing Planet (0),FA21,319,135,68.0%,74.4%,3.89,A- (3.93),A- (3.88)
61304,"Gladstein, Jill M",SYN 1 - Perspectives/Changing Planet (0),SP21,235,107,90.6%,95.3%,5.15,A- (3.85),A- (3.88)
61305,"Gladstein, Jill M",SYN 1 - Perspectives/Changing Planet (0),WI21,318,181,89.1%,91.3%,4.06,A- (3.91),A- (3.88)

Notice how the number of rows went down. This means that each `category` in CAPES is not exlusive.
Many classes exist in multiple categories.

In [4]:
print(f'There were {Capes_raw.shape[0] - Capes_raw_1.shape[0]} rows that were duplicates!')

There were 1938 rows that were duplicates!

### Step 2: Split Course
 Split `Course` into `Course Name` and `Course Desc`.

In [5]:
def get_course_name(course):
    return course.split(' - ')[0].strip(' ')

def get_course_desc(course):
    return course.split(' - ')[1].strip(' ')

# # ===== TEST CASES =====
# testCourses = ['RELI 1 - Introduction to Religion (A)',
#                'MATH 18 - Linear Algebra',
#                'DSC 10 - Introduction to Data Science']
# for course in testCourses:
#     print(f'The course {course:<40} becomes {get_course_name(course):<8} and {get_course_desc(course)}')

In [6]:
Capes_raw_2 = Capes_raw_1.assign(
    Course_Name = Capes_raw_1.get('Course').apply(get_course_name),
    Course_Desc = Capes_raw_1.get('Course').apply(get_course_desc)
).drop(columns='Course')

Capes_raw_2.columns = [c.replace('_',' ') for c in Capes_raw_2.columns]
Capes_raw_2

,Instructor,Term,Enroll,Evals Made,Rcmnd Class,Rcmnd Instr,Study Hrs/wk,Avg Grade Expected,Avg Grade Received,Course Name,Course Desc
0,"Kalleres, Dayna",FA22,37,11,90.9%,100.0%,2.50,B (3.20),A (4.00),RELI 1,Introduction to Religion (A)
1,"Rahimi, Babak",S122,40,5,100.0%,100.0%,3.70,A- (3.80),A- (3.98),RELI 149,Islam in America (A)
2,"Rahimi, Babak",WI22,39,10,90.0%,90.0%,3.61,B+ (3.67),A- (3.73),RELI 101,Tools&Methods/Studyof Religion (A)
3,"Rahimi, Babak",WI22,34,11,80.0%,90.0%,3.90,A- (3.90),A- (3.81),RELI 188,Special Topics in Religion (A)
4,"Kalleres, Dayna",FA21,37,18,81.3%,75.0%,2.50,A- (3.85),A- (3.74),RELI 1,Introduction to Religion (A)
...,...,...,...,...,...,...,...,...,...,...,...
61301,"Gladstein, Jill M",WI22,404,243,90.9%,93.4%,3.95,A- (3.94),A- (3.90),SYN 1,Perspectives/Changing Planet (0)
61302,"Gladstein, Jill M",WI22,191,93,77.0%,88.5%,4.18,A- (3.79),A- (3.89),SYN 2,Explorations/Changing Planet (0)
61303,"Gladstein, Jill M",FA21,319,135,68.0%,74.4%,3.89,A- (3.93),A- (3.88),SYN 2,Explorations/Changing Planet (0)
61304,"Gladstein, Jill M",SP21,235,107,90.6%,95.3%,5.15,A- (3.85),A- (3.88),SYN 1,Perspectives/Changing Planet (0)
61305,"Gladstein, Jill M",WI21,318,181,89.1%,91.3%,4.06,A- (3.91),A- (3.88),SYN 1,Perspectives/Changing Planet (0)

### Step 3: Course Type
Create a column `Course Type` that identifies the course type (Lower Div, Upper Div, Seminar)

In [7]:
def get_course_type(course_name):
    if ' 99' in course_name:
        return 'Lower Div Ind Study'
    elif '87' in course_name or '90' in course_name:
        return 'Lower Div Seminar'
    elif int(list(filter(str.isdigit, course_name))[0]) < 100:
        return 'Lower Div'
    elif '199' in course_name:
        return 'Upper Div Ind Study'
    elif '195' in course_name:
        return 'Upper Div Seminar'
    elif int(list(filter(str.isdigit, course_name))[0]) < 200:
        return 'Upper Div'
    else:
        return 'NaN'

# # ===== Test Cases =====
# test_course_name = ['DSC 10','MATH 87','BILD 99', 'LIGN 101', 'COGS 199','PHYS 195']
# for course_name in test_course_name:
#     print(f'The course type of {course_name:<8} is {get_course_type(course_name)}')

In [8]:
Capes_raw_3 = Capes_raw_2.assign(
    Course_Type = Capes_raw_2.get('Course Name').apply(get_course_type)
)

Capes_raw_3.columns = [c.replace('_',' ') for c in Capes_raw_3.columns]
Capes_raw_3

,Instructor,Term,Enroll,Evals Made,Rcmnd Class,Rcmnd Instr,Study Hrs/wk,Avg Grade Expected,Avg Grade Received,Course Name,Course Desc,Course Type
0,"Kalleres, Dayna",FA22,37,11,90.9%,100.0%,2.50,B (3.20),A (4.00),RELI 1,Introduction to Religion (A),Lower Div
1,"Rahimi, Babak",S122,40,5,100.0%,100.0%,3.70,A- (3.80),A- (3.98),RELI 149,Islam in America (A),Lower Div
2,"Rahimi, Babak",WI22,39,10,90.0%,90.0%,3.61,B+ (3.67),A- (3.73),RELI 101,Tools&Methods/Studyof Religion (A),Lower Div
3,"Rahimi, Babak",WI22,34,11,80.0%,90.0%,3.90,A- (3.90),A- (3.81),RELI 188,Special Topics in Religion (A),Lower Div
4,"Kalleres, Dayna",FA21,37,18,81.3%,75.0%,2.50,A- (3.85),A- (3.74),RELI 1,Introduction to Religion (A),Lower Div
...,...,...,...,...,...,...,...,...,...,...,...,...
61301,"Gladstein, Jill M",WI22,404,243,90.9%,93.4%,3.95,A- (3.94),A- (3.90),SYN 1,Perspectives/Changing Planet (0),Lower Div
61302,"Gladstein, Jill M",WI22,191,93,77.0%,88.5%,4.18,A- (3.79),A- (3.89),SYN 2,Explorations/Changing Planet (0),Lower Div
61303,"Gladstein, Jill M",FA21,319,135,68.0%,74.4%,3.89,A- (3.93),A- (3.88),SYN 2,Explorations/Changing Planet (0),Lower Div
61304,"Gladstein, Jill M",SP21,235,107,90.6%,95.3%,5.15,A- (3.85),A- (3.88),SYN 1,Perspectives/Changing Planet (0),Lower Div
61305,"Gladstein, Jill M",WI21,318,181,89.1%,91.3%,4.06,A- (3.91),A- (3.88),SYN 1,Perspectives/Changing Planet (0),Lower Div

### Step 4: Enroll and Eval Count
Convert `Enroll` and `Evals Made` into `int`.

In [9]:
Capes_raw_4 = Capes_raw_3.assign(
    Enroll = Capes_raw_3.get('Enroll').apply(int),
    Evals_Made = Capes_raw_3.get('Evals Made').apply(int)
).drop(columns='Evals Made')

Capes_raw_4.columns = [c.replace('_',' ') for c in Capes_raw_4.columns]
Capes_raw_4

,Instructor,Term,Enroll,Rcmnd Class,Rcmnd Instr,Study Hrs/wk,Avg Grade Expected,Avg Grade Received,Course Name,Course Desc,Course Type,Evals Made
0,"Kalleres, Dayna",FA22,37,90.9%,100.0%,2.50,B (3.20),A (4.00),RELI 1,Introduction to Religion (A),Lower Div,11
1,"Rahimi, Babak",S122,40,100.0%,100.0%,3.70,A- (3.80),A- (3.98),RELI 149,Islam in America (A),Lower Div,5
2,"Rahimi, Babak",WI22,39,90.0%,90.0%,3.61,B+ (3.67),A- (3.73),RELI 101,Tools&Methods/Studyof Religion (A),Lower Div,10
3,"Rahimi, Babak",WI22,34,80.0%,90.0%,3.90,A- (3.90),A- (3.81),RELI 188,Special Topics in Religion (A),Lower Div,11
4,"Kalleres, Dayna",FA21,37,81.3%,75.0%,2.50,A- (3.85),A- (3.74),RELI 1,Introduction to Religion (A),Lower Div,18
...,...,...,...,...,...,...,...,...,...,...,...,...
61301,"Gladstein, Jill M",WI22,404,90.9%,93.4%,3.95,A- (3.94),A- (3.90),SYN 1,Perspectives/Changing Planet (0),Lower Div,243
61302,"Gladstein, Jill M",WI22,191,77.0%,88.5%,4.18,A- (3.79),A- (3.89),SYN 2,Explorations/Changing Planet (0),Lower Div,93
61303,"Gladstein, Jill M",FA21,319,68.0%,74.4%,3.89,A- (3.93),A- (3.88),SYN 2,Explorations/Changing Planet (0),Lower Div,135
61304,"Gladstein, Jill M",SP21,235,90.6%,95.3%,5.15,A- (3.85),A- (3.88),SYN 1,Perspectives/Changing Planet (0),Lower Div,107
61305,"Gladstein, Jill M",WI21,318,89.1%,91.3%,4.06,A- (3.91),A- (3.88),SYN 1,Perspectives/Changing Planet (0),Lower Div,181

### Step 5: Split Term
Split `Term` into `Term Type` and `Term Year`.

In [10]:
def get_term_type(term):
    return term[:2]

def get_term_year(term):
    return int(term[2:])

# # ===== Test Cases =====
# test_term = ['S122','WI23','FA17','S220']
# for term in test_term:
#     print(f'Term {term:<4} becomes {get_term_type(term):<4} and {get_term_year(term)}')

In [11]:
Capes_raw_5 = Capes_raw_4.assign(
    Term_Type = Capes_raw_4.get('Term').apply(get_term_type),
    Term_Year = Capes_raw_4.get('Term').apply(get_term_year)
).drop(columns='Term')

Capes_raw_5.columns = [c.replace('_',' ') for c in Capes_raw_5.columns]
Capes_raw_5

,Instructor,Enroll,Rcmnd Class,Rcmnd Instr,Study Hrs/wk,Avg Grade Expected,Avg Grade Received,Course Name,Course Desc,Course Type,Evals Made,Term Type,Term Year
0,"Kalleres, Dayna",37,90.9%,100.0%,2.50,B (3.20),A (4.00),RELI 1,Introduction to Religion (A),Lower Div,11,FA,22
1,"Rahimi, Babak",40,100.0%,100.0%,3.70,A- (3.80),A- (3.98),RELI 149,Islam in America (A),Lower Div,5,S1,22
2,"Rahimi, Babak",39,90.0%,90.0%,3.61,B+ (3.67),A- (3.73),RELI 101,Tools&Methods/Studyof Religion (A),Lower Div,10,WI,22
3,"Rahimi, Babak",34,80.0%,90.0%,3.90,A- (3.90),A- (3.81),RELI 188,Special Topics in Religion (A),Lower Div,11,WI,22
4,"Kalleres, Dayna",37,81.3%,75.0%,2.50,A- (3.85),A- (3.74),RELI 1,Introduction to Religion (A),Lower Div,18,FA,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...
61301,"Gladstein, Jill M",404,90.9%,93.4%,3.95,A- (3.94),A- (3.90),SYN 1,Perspectives/Changing Planet (0),Lower Div,243,WI,22
61302,"Gladstein, Jill M",191,77.0%,88.5%,4.18,A- (3.79),A- (3.89),SYN 2,Explorations/Changing Planet (0),Lower Div,93,WI,22
61303,"Gladstein, Jill M",319,68.0%,74.4%,3.89,A- (3.93),A- (3.88),SYN 2,Explorations/Changing Planet (0),Lower Div,135,FA,21
61304,"Gladstein, Jill M",235,90.6%,95.3%,5.15,A- (3.85),A- (3.88),SYN 1,Perspectives/Changing Planet (0),Lower Div,107,SP,21
61305,"Gladstein, Jill M",318,89.1%,91.3%,4.06,A- (3.91),A- (3.88),SYN 1,Perspectives/Changing Planet (0),Lower Div,181,WI,21

### Step 6: Split Term
Convert `Rcmnd Class` and `Rcmd Instr` into `float`.

In [12]:
def get_perc(perc):
    return float(perc.replace('%','')) / 100

# # ===== Test Cases =====
# test_perc = ['100.0%','0%','03.8%','93.8%']
# for perc in test_perc:
#     print(f'Percentage {perc:<6} becomes {get_perc(perc)}')

In [13]:
Capes_raw_6 = Capes_raw_5.assign(
    Rcmnd_Class = Capes_raw_5.get('Rcmnd Class').apply(get_perc),
    Rcmnd_Instructor = Capes_raw_5.get('Rcmnd Instr').apply(get_perc)
).drop(columns=['Rcmnd Class','Rcmnd Instr'])

Capes_raw_6.columns = [c.replace('_',' ') for c in Capes_raw_6.columns]
Capes_raw_6

,Instructor,Enroll,Study Hrs/wk,Avg Grade Expected,Avg Grade Received,Course Name,Course Desc,Course Type,Evals Made,Term Type,Term Year,Rcmnd Class,Rcmnd Instructor
0,"Kalleres, Dayna",37,2.50,B (3.20),A (4.00),RELI 1,Introduction to Religion (A),Lower Div,11,FA,22,0.909,1.000
1,"Rahimi, Babak",40,3.70,A- (3.80),A- (3.98),RELI 149,Islam in America (A),Lower Div,5,S1,22,1.000,1.000
2,"Rahimi, Babak",39,3.61,B+ (3.67),A- (3.73),RELI 101,Tools&Methods/Studyof Religion (A),Lower Div,10,WI,22,0.900,0.900
3,"Rahimi, Babak",34,3.90,A- (3.90),A- (3.81),RELI 188,Special Topics in Religion (A),Lower Div,11,WI,22,0.800,0.900
4,"Kalleres, Dayna",37,2.50,A- (3.85),A- (3.74),RELI 1,Introduction to Religion (A),Lower Div,18,FA,21,0.813,0.750
...,...,...,...,...,...,...,...,...,...,...,...,...,...
61301,"Gladstein, Jill M",404,3.95,A- (3.94),A- (3.90),SYN 1,Perspectives/Changing Planet (0),Lower Div,243,WI,22,0.909,0.934
61302,"Gladstein, Jill M",191,4.18,A- (3.79),A- (3.89),SYN 2,Explorations/Changing Planet (0),Lower Div,93,WI,22,0.770,0.885
61303,"Gladstein, Jill M",319,3.89,A- (3.93),A- (3.88),SYN 2,Explorations/Changing Planet (0),Lower Div,135,FA,21,0.680,0.744
61304,"Gladstein, Jill M",235,5.15,A- (3.85),A- (3.88),SYN 1,Perspectives/Changing Planet (0),Lower Div,107,SP,21,0.906,0.953
61305,"Gladstein, Jill M",318,4.06,A- (3.91),A- (3.88),SYN 1,Perspectives/Changing Planet (0),Lower Div,181,WI,21,0.891,0.913

### Step 7: Study Hrs Column
Convert `Study Hrs/wk` into `float`.

In [14]:
Capes_raw_7 = Capes_raw_6.assign(
    Study_Hrs_PER_wk = Capes_raw_6.get('Study Hrs/wk').apply(float)
).drop(columns='Study Hrs/wk')

Capes_raw_7.columns = [c.replace('_',' ') for c in Capes_raw_7.columns]
Capes_raw_7.columns = [c.replace(' PER ','/') for c in Capes_raw_7.columns]
Capes_raw_7

,Instructor,Enroll,Avg Grade Expected,Avg Grade Received,Course Name,Course Desc,Course Type,Evals Made,Term Type,Term Year,Rcmnd Class,Rcmnd Instructor,Study Hrs/wk
0,"Kalleres, Dayna",37,B (3.20),A (4.00),RELI 1,Introduction to Religion (A),Lower Div,11,FA,22,0.909,1.000,2.50
1,"Rahimi, Babak",40,A- (3.80),A- (3.98),RELI 149,Islam in America (A),Lower Div,5,S1,22,1.000,1.000,3.70
2,"Rahimi, Babak",39,B+ (3.67),A- (3.73),RELI 101,Tools&Methods/Studyof Religion (A),Lower Div,10,WI,22,0.900,0.900,3.61
3,"Rahimi, Babak",34,A- (3.90),A- (3.81),RELI 188,Special Topics in Religion (A),Lower Div,11,WI,22,0.800,0.900,3.90
4,"Kalleres, Dayna",37,A- (3.85),A- (3.74),RELI 1,Introduction to Religion (A),Lower Div,18,FA,21,0.813,0.750,2.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...
61301,"Gladstein, Jill M",404,A- (3.94),A- (3.90),SYN 1,Perspectives/Changing Planet (0),Lower Div,243,WI,22,0.909,0.934,3.95
61302,"Gladstein, Jill M",191,A- (3.79),A- (3.89),SYN 2,Explorations/Changing Planet (0),Lower Div,93,WI,22,0.770,0.885,4.18
61303,"Gladstein, Jill M",319,A- (3.93),A- (3.88),SYN 2,Explorations/Changing Planet (0),Lower Div,135,FA,21,0.680,0.744,3.89
61304,"Gladstein, Jill M",235,A- (3.85),A- (3.88),SYN 1,Perspectives/Changing Planet (0),Lower Div,107,SP,21,0.906,0.953,5.15
61305,"Gladstein, Jill M",318,A- (3.91),A- (3.88),SYN 1,Perspectives/Changing Planet (0),Lower Div,181,WI,21,0.891,0.913,4.06

### Step 8: Spit Average Grades
Split `Avg Grade Expected` and `Avg Grade Recieved` into `Avg Letter` and `Avg GPA` respectively.

In [15]:
type(Capes_raw_7.get('Avg Grade Expected').iloc[0])

str

In [16]:
def get_letter_grade(grade):
    if grade == float('NaN'):
        return float('Nan')
    else:
        return str(grade).split(' ')[0]

def get_gpa_grade(grade):
    if grade == float('NaN'):
        return float('Nan')
    else:
        return float(str(grade).split(' ')[-1].strip('()'))

# ===== Test Cases =====
test_grade = ['B (3.20)','A- (3.85)', 'C (2.30)']
for grade in test_grade:
    print(f'The grade {grade:<10} becomes {get_letter_grade(grade):<3} and {get_gpa_grade(grade)}')

The grade B (3.20)   becomes B   and 3.2
The grade A- (3.85)  becomes A-  and 3.85
The grade C (2.30)   becomes C   and 2.3

In [17]:
Capes_raw_8 = Capes_raw_7.assign(
    Avg_Letter_Expected = Capes_raw_7.get('Avg Grade Expected').apply(get_letter_grade),
    Avg_GPA_Expected = Capes_raw_7.get('Avg Grade Expected').apply(get_gpa_grade),
    Avg_Letter_Received = Capes_raw_7.get('Avg Grade Received').apply(get_letter_grade),
    Avg_GPA_Received = Capes_raw_7.get('Avg Grade Received').apply(get_gpa_grade)
).drop(columns=['Avg Grade Expected','Avg Grade Received'])

Capes_raw_8.columns = [c.replace('_',' ') for c in Capes_raw_8.columns]
Capes_raw_8

,Instructor,Enroll,Course Name,Course Desc,Course Type,Evals Made,Term Type,Term Year,Rcmnd Class,Rcmnd Instructor,Study Hrs/wk,Avg Letter Expected,Avg GPA Expected,Avg Letter Received,Avg GPA Received
0,"Kalleres, Dayna",37,RELI 1,Introduction to Religion (A),Lower Div,11,FA,22,0.909,1.000,2.50,B,3.20,A,4.00
1,"Rahimi, Babak",40,RELI 149,Islam in America (A),Lower Div,5,S1,22,1.000,1.000,3.70,A-,3.80,A-,3.98
2,"Rahimi, Babak",39,RELI 101,Tools&Methods/Studyof Religion (A),Lower Div,10,WI,22,0.900,0.900,3.61,B+,3.67,A-,3.73
3,"Rahimi, Babak",34,RELI 188,Special Topics in Religion (A),Lower Div,11,WI,22,0.800,0.900,3.90,A-,3.90,A-,3.81
4,"Kalleres, Dayna",37,RELI 1,Introduction to Religion (A),Lower Div,18,FA,21,0.813,0.750,2.50,A-,3.85,A-,3.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61301,"Gladstein, Jill M",404,SYN 1,Perspectives/Changing Planet (0),Lower Div,243,WI,22,0.909,0.934,3.95,A-,3.94,A-,3.90
61302,"Gladstein, Jill M",191,SYN 2,Explorations/Changing Planet (0),Lower Div,93,WI,22,0.770,0.885,4.18,A-,3.79,A-,3.89
61303,"Gladstein, Jill M",319,SYN 2,Explorations/Changing Planet (0),Lower Div,135,FA,21,0.680,0.744,3.89,A-,3.93,A-,3.88
61304,"Gladstein, Jill M",235,SYN 1,Perspectives/Changing Planet (0),Lower Div,107,SP,21,0.906,0.953,5.15,A-,3.85,A-,3.88
61305,"Gladstein, Jill M",318,SYN 1,Perspectives/Changing Planet (0),Lower Div,181,WI,21,0.891,0.913,4.06,A-,3.91,A-,3.88

## Finishing and Saving
We simply reorder the rows to create `Capes_tidy` and save it as a `.csv`.

In [18]:
Capes_tidy = Capes_raw_8.get([
    'Instructor',
    'Course Name',
    'Course Desc',
    'Course Type',
    'Term Type',
    'Term Year',
    'Enroll',
    'Evals Made',
    'Rcmnd Class',
    'Rcmnd Instructor',
    'Study Hrs/wk',
    'Avg Letter Expected',
    'Avg GPA Expected',
    'Avg Letter Received',
    'Avg GPA Received'
])
Capes_tidy

,Instructor,Course Name,Course Desc,Course Type,Term Type,Term Year,Enroll,Evals Made,Rcmnd Class,Rcmnd Instructor,Study Hrs/wk,Avg Letter Expected,Avg GPA Expected,Avg Letter Received,Avg GPA Received
0,"Kalleres, Dayna",RELI 1,Introduction to Religion (A),Lower Div,FA,22,37,11,0.909,1.000,2.50,B,3.20,A,4.00
1,"Rahimi, Babak",RELI 149,Islam in America (A),Lower Div,S1,22,40,5,1.000,1.000,3.70,A-,3.80,A-,3.98
2,"Rahimi, Babak",RELI 101,Tools&Methods/Studyof Religion (A),Lower Div,WI,22,39,10,0.900,0.900,3.61,B+,3.67,A-,3.73
3,"Rahimi, Babak",RELI 188,Special Topics in Religion (A),Lower Div,WI,22,34,11,0.800,0.900,3.90,A-,3.90,A-,3.81
4,"Kalleres, Dayna",RELI 1,Introduction to Religion (A),Lower Div,FA,21,37,18,0.813,0.750,2.50,A-,3.85,A-,3.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61301,"Gladstein, Jill M",SYN 1,Perspectives/Changing Planet (0),Lower Div,WI,22,404,243,0.909,0.934,3.95,A-,3.94,A-,3.90
61302,"Gladstein, Jill M",SYN 2,Explorations/Changing Planet (0),Lower Div,WI,22,191,93,0.770,0.885,4.18,A-,3.79,A-,3.89
61303,"Gladstein, Jill M",SYN 2,Explorations/Changing Planet (0),Lower Div,FA,21,319,135,0.680,0.744,3.89,A-,3.93,A-,3.88
61304,"Gladstein, Jill M",SYN 1,Perspectives/Changing Planet (0),Lower Div,SP,21,235,107,0.906,0.953,5.15,A-,3.85,A-,3.88
61305,"Gladstein, Jill M",SYN 1,Perspectives/Changing Planet (0),Lower Div,WI,21,318,181,0.891,0.913,4.06,A-,3.91,A-,3.88

We do some dataset validation

In [19]:
def find_type(column):
    return type(Capes_tidy.get(column).iloc[0])
          
columns = np.array([
    'Instructor',
    'Course Name',
    'Course Desc',
    'Course Type',
    'Term Type',
    'Term Year',
    'Enroll',
    'Evals Made',
    'Rcmnd Class',
    'Rcmnd Instructor',
    'Study Hrs/wk',
    'Avg Letter Expected',
    'Avg GPA Expected',
    'Avg Letter Received',
    'Avg GPA Received'
])

for column in columns:
    print(f'{column:<20} has type {find_type(column)}')

Instructor           has type <class 'str'>
Course Name          has type <class 'str'>
Course Desc          has type <class 'str'>
Course Type          has type <class 'str'>
Term Type            has type <class 'str'>
Term Year            has type <class 'numpy.int64'>
Enroll               has type <class 'numpy.int64'>
Evals Made           has type <class 'numpy.int64'>
Rcmnd Class          has type <class 'numpy.float64'>
Rcmnd Instructor     has type <class 'numpy.float64'>
Study Hrs/wk         has type <class 'numpy.float64'>
Avg Letter Expected  has type <class 'str'>
Avg GPA Expected     has type <class 'numpy.float64'>
Avg Letter Received  has type <class 'str'>
Avg GPA Received     has type <class 'numpy.float64'>

In [20]:
def get_class_dept(name):
    return name.split(' ')[0]

get_class_dept_v = np.vectorize(get_class_dept)
depts = np.unique(
    get_class_dept_v(np.array(Capes_tidy.get('Course Name')))
)

print(depts)

['ANAR' 'ANBI' 'ANLD' 'ANPR' 'ANSC' 'ANTH' 'BENG' 'BIBC' 'BICD' 'BIEB'
 'BILD' 'BIMM' 'BIPN' 'BISP' 'CAT' 'CENG' 'CGS' 'CHEM' 'CHIN' 'COCU'
 'COGN' 'COGS' 'COHI' 'COMM' 'COMT' 'CONT' 'COSF' 'CSE' 'DOC' 'DSC' 'DSGN'
 'ECE' 'ECON' 'EDS' 'ELWR' 'ENG' 'ENVR' 'ERC' 'ESYS' 'ETHN' 'FILM' 'FPMU'
 'GLBH' 'GSS' 'HDP' 'HIAF' 'HIEA' 'HIEU' 'HIGL' 'HILA' 'HILD' 'HINE'
 'HISC' 'HITO' 'HIUS' 'HMNR' 'HUM' 'ICAM' 'INTL' 'JAPN' 'JUDA' 'JWSP'
 'LATI' 'LAWS' 'LIAB' 'LIGM' 'LIGN' 'LIHL' 'LIIT' 'LIPO' 'LISP' 'LTAF'
 'LTAM' 'LTCH' 'LTCS' 'LTEA' 'LTEN' 'LTEU' 'LTFR' 'LTGK' 'LTGM' 'LTIT'
 'LTKO' 'LTLA' 'LTRU' 'LTSP' 'LTTH' 'LTWL' 'LTWR' 'MAE' 'MATH' 'MGT' 'MMW'
 'MUIR' 'MUS' 'NANO' 'PHIL' 'PHYS' 'POLI' 'PSYC' 'RELI' 'REV' 'SE' 'SIO'
 'SOCA' 'SOCB' 'SOCC' 'SOCD' 'SOCE' 'SOCI' 'SOCL' 'STPA' 'SXTH' 'SYN'
 'TDAC' 'TDCH' 'TDDE' 'TDDM' 'TDDR' 'TDGE' 'TDHD' 'TDHT' 'TDMV' 'TDPF'
 'TDPR' 'TDPW' 'TDTR' 'TMC' 'TWS' 'USP' 'VIS' 'WARR' 'WCWP']

In [21]:
Capes_tidy.to_csv('Capes_tidy.csv')