In [85]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
import dataframe_image as dfi
plt.style.use('seaborn-v0_8-darkgrid')

In [3]:
Capes = pd.read_csv('CAPES_tidy.csv')
Capes = Capes.drop(columns=Capes.columns[0])
Capes

,Instructor,Course Name,Course Desc,Course Type,Term Type,Term Year,Enroll,Evals Made,Rcmnd Class,Rcmnd Instructor,Study Hrs/wk,Avg Letter Expected,Avg GPA Expected,Avg Letter Received,Avg GPA Received
0,"Kalleres, Dayna",RELI 1,Introduction to Religion (A),Lower Div,FA,22,37,11,0.909,1.000,2.50,B,3.20,A,4.00
1,"Rahimi, Babak",RELI 149,Islam in America (A),Lower Div,S1,22,40,5,1.000,1.000,3.70,A-,3.80,A-,3.98
2,"Rahimi, Babak",RELI 101,Tools&Methods/Studyof Religion (A),Lower Div,WI,22,39,10,0.900,0.900,3.61,B+,3.67,A-,3.73
3,"Rahimi, Babak",RELI 188,Special Topics in Religion (A),Lower Div,WI,22,34,11,0.800,0.900,3.90,A-,3.90,A-,3.81
4,"Kalleres, Dayna",RELI 1,Introduction to Religion (A),Lower Div,FA,21,37,18,0.813,0.750,2.50,A-,3.85,A-,3.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59363,"Gladstein, Jill M",SYN 1,Perspectives/Changing Planet (0),Lower Div,WI,22,404,243,0.909,0.934,3.95,A-,3.94,A-,3.90
59364,"Gladstein, Jill M",SYN 2,Explorations/Changing Planet (0),Lower Div,WI,22,191,93,0.770,0.885,4.18,A-,3.79,A-,3.89
59365,"Gladstein, Jill M",SYN 2,Explorations/Changing Planet (0),Lower Div,FA,21,319,135,0.680,0.744,3.89,A-,3.93,A-,3.88
59366,"Gladstein, Jill M",SYN 1,Perspectives/Changing Planet (0),Lower Div,SP,21,235,107,0.906,0.953,5.15,A-,3.85,A-,3.88
59367,"Gladstein, Jill M",SYN 1,Perspectives/Changing Planet (0),Lower Div,WI,21,318,181,0.891,0.913,4.06,A-,3.91,A-,3.88

In [6]:
Prereq = pd.read_csv('prereq.csv')
Prereq = Prereq.drop(columns=Prereq.columns[0])
Prereq

         course prereqs
0        AAS 10      []
1      AIP 197T      []
2      ANBI 118      []
3      ANAR 121      []
4      ANBI 136      []
...         ...     ...
4100   COCU 142      []
4101  ECON 170A      []
4102  ECON 170B      []
4103  SOCD 188D      []
4104   ECON 175      []

[4105 rows x 2 columns]

In [8]:
Merged = Prereq.merge(Capes, left_on='course', right_on='Course Name')
Merged

,course,prereqs,Instructor,Course Name,Course Desc,Course Type,Term Type,Term Year,Enroll,Evals Made,Rcmnd Class,Rcmnd Instructor,Study Hrs/wk,Avg Letter Expected,Avg GPA Expected,Avg Letter Received,Avg GPA Received
0,ANBI 118,[],"Fox, Patrick Keolu Ozer",ANBI 118,Technology on the Go (A),Lower Div,WI,22,18,4,0.750,0.750,2.00,A-,3.75,NaN,NaN
1,ANBI 118,[],"Fox, Patrick Keolu Ozer",ANBI 118,Technology on the Go (A),Lower Div,FA,20,20,15,0.933,1.000,2.77,B+,3.67,A-,3.77
2,ANAR 121,[],"Smith, Neil Gordon",ANAR 121,Cyber-Archaeology (A),Lower Div,FA,21,13,8,1.000,1.000,5.25,B+,3.63,NaN,NaN
3,ANAR 121,[],"Smith, Neil Gordon",ANAR 121,Cyber-Archaeology (A),Lower Div,FA,20,17,6,1.000,1.000,6.50,A,4.00,NaN,NaN
4,ANAR 121,[],"Jones, Ian William Nasser",ANAR 121,Cyber-Archaeology (A),Lower Div,FA,19,14,5,1.000,1.000,1.70,B+,3.60,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58959,COCU 142,[],"Ulgen, Fatma",COCU 142,Holocast Discourse (A),Lower Div,SU,7,21,15,0.933,0.929,4.90,B+,3.47,NaN,NaN
58960,ECON 170A,[],"Noel, Michael",ECON 170A,Management Sci Microecon A (A),Lower Div,SU,7,48,21,0.952,0.952,6.02,B,3.11,NaN,NaN
58961,ECON 170B,[],"Nieto-Barthaburu, Augusto",ECON 170B,Management Sci Microeconomics (A),Lower Div,SU,7,45,25,0.920,0.920,5.50,B,3.16,NaN,NaN
58962,SOCD 188D,[],"Zamosc, Leon",SOCD 188D,Latin Amer: Society & Politics (A),Lower Div,SU,7,27,25,0.870,0.792,6.25,B,3.13,NaN,NaN
58963,ECON 175,[],"Seifi, Ahmad",ECON 175,Financial Investments (A),Lower Div,SU,7,95,51,0.918,0.980,5.99,B,3.04,NaN,NaN

In [86]:
numbers = re.compile(r'\d+(?:\.\d+)?')

In [87]:
Boosters = Merged[(Merged.get('prereqs') == "[]") & 
                  (Merged.get('Avg GPA Received') >= 3.7) & 
                  (Merged.get('Term Year') > 21) & 
                  (Merged.get('Enroll') >= 50) &
                  (Merged.get('course').apply(numbers.findall).apply(lambda x: x[0]).apply(int) < 100) &
                  (Merged.get('Evals Made')*2 >= Merged.get('Enroll'))]
Boosters

,course,prereqs,Instructor,Course Name,Course Desc,Course Type,Term Type,Term Year,Enroll,Evals Made,Rcmnd Class,Rcmnd Instructor,Study Hrs/wk,Avg Letter Expected,Avg GPA Expected,Avg Letter Received,Avg GPA Received
1867,BILD 4,[],"Mel, Stephanie",BILD 4,Introductory Biology Lab (A),Lower Div,FA,22,382,206,0.949,0.980,3.22,B+,3.56,A-,3.77
1868,BILD 4,[],"Lo, Stanley M.",BILD 4,Introductory Biology Lab (B),Lower Div,FA,22,376,285,0.939,0.957,3.31,A-,3.72,A-,3.87
1871,BILD 4,[],"Pickett, Brooke Elizabeth",BILD 4,Introductory Biology Lab (B),Lower Div,SP,22,187,120,0.967,0.933,2.88,A-,3.86,A-,3.79
1873,BILD 4,[],"Lo, Stanley M.",BILD 4,Introductory Biology Lab (B),Lower Div,WI,22,181,123,0.975,0.983,2.89,A-,3.79,A-,3.80
1874,BILD 4,[],"Reuther, Keefe",BILD 4,Introductory Biology Lab (C),Lower Div,WI,22,185,153,0.933,0.980,3.10,A-,3.86,A-,3.87
1875,BILD 4,[],"Pickett, Brooke Elizabeth",BILD 4,Introductory Biology Lab (D),Lower Div,WI,22,189,163,0.951,0.988,3.57,A-,3.79,A-,3.77
5147,COGS 10,[],"Scott, Taylor Jackson",COGS 10,Cognitv Consequence/Technology (A),Lower Div,WI,22,300,232,0.978,0.996,3.62,A-,3.87,A-,3.90
6033,COGS 9,[],"Shannon, Kyle Michael",COGS 9,Introduction to Data Science (A),Lower Div,FA,22,312,262,0.931,0.981,3.54,A-,3.76,A-,3.80
6034,COGS 9,[],"Shannon, Kyle Michael",COGS 9,Introduction to Data Science (A),Lower Div,S2,22,52,43,0.976,0.976,5.98,A-,3.71,A-,3.93
6094,COMM 10,[],"Schmidt, Thomas Rainer",COMM 10,Introduction to Communication (A),Lower Div,WI,22,241,176,0.942,0.953,3.75,A-,3.84,A-,3.78
8523,DOC 1,[],"Solomon, Amanda Lee Albaniel",DOC 1,Diversity (A),Lower Div,FA,22,269,254,0.909,0.988,3.87,A-,3.83,A,4.00
8524,DOC 1,[],"Solomon, Amanda Lee Albaniel",DOC 1,Diversity (B),Lower Div,FA,22,250,227,0.924,0.987,4.00,A-,3.88,A,4.00
8525,DOC 1,[],"Strom, Megan C.",DOC 1,Diversity (C),Lower Div,FA,22,248,222,0.878,0.918,3.88,A-,3.83,A,4.00
8526,DOC 1,[],"Strom, Megan C.",DOC 1,Diversity (D),Lower Div,FA,22,234,216,0.823,0.915,3.66,A-,3.88,A,4.00
11687,EDS 25,[],"Guida, Tonia Floramaria",EDS 25,Am Higher Edu&Collegiate Exper (A),Lower Div,S2,22,121,89,0.989,0.989,5.06,B+,3.66,A-,3.78
18480,MGT 12,[],"Lindenberger, Wade Douglas",MGT 12,Personal Financial Management (B),Lower Div,FA,22,98,81,0.975,0.975,3.56,A-,3.85,A-,3.82
18481,MGT 12,[],"Lindenberger, Wade Douglas",MGT 12,Personal Financial Management (A),Lower Div,S2,22,84,64,1.000,1.000,4.21,A-,3.97,A-,3.90
18483,MGT 12,[],"Lindenberger, Wade Douglas",MGT 12,Personal Financial Management (B),Lower Div,SP,22,114,81,0.988,1.000,3.23,A-,3.97,A-,3.90
18484,MGT 12,[],"Lindenberger, Wade Douglas",MGT 12,Personal Financial Management (C),Lower Div,SP,22,112,83,1.000,1.000,3.11,A-,3.95,A-,3.85
18801,MGT 16,[],"Lindenberger, Wade Douglas",MGT 16,Personal Ethics at Work (C),Lower Div,FA,22,110,97,0.990,1.000,3.43,A-,3.99,A-,3.95
18802,MGT 16,[],"Lindenberger, Wade Douglas",MGT 16,Personal Ethics at Work (D),Lower Div,FA,22,107,91,1.000,0.978,3.23,A-,3.90,A-,3.82
19687,MGT 52,[],"Deal, Jennifer Jean",MGT 52,Test & Measurement at Work (A),Lower Div,SP,22,92,76,0.987,0.961,3.43,A-,3.78,A-,3.74
20043,MUS 13,[],"Leslie, Matthew",MUS 13,Worlds of Music (A),Lower Div,WI,22,99,57,0.947,0.982,2.54,A-,3.95,A-,3.90
20415,MUS 1A,[],"Schneider, Berk Waldemar",MUS 1A,Fundamentals of Music A (A),Lower Div,FA,22,138,97,0.928,0.959,3.49,B+,3.66,A-,3.80
20500,MUS 6,[],"Haering, Nathaniel James",MUS 6,Electronic Music (A),Lower Div,FA,22,94,60,0.933,0.966,3.53,A-,3.89,A,4.00
23266,PSYC 1,[],"Willis, Jarryd Thomas",PSYC 1,Psychology (A),Lower Div,S1,22,71,43,0.953,0.930,5.57,A-,3.85,A-,3.86
23268,PSYC 1,[],"Willis, Jarryd Thomas",PSYC 1,Psychology (A),Lower Div,WI,22,293,169,0.994,1.000,3.95,A-,3.87,A-,3.87
26548,TDGE 1,[],"Reimer, Jonathan Charles",TDGE 1,Introduction to Theatre (A),Lower Div,S2,22,119,79,0.936,0.948,3.69,A-,3.79,A-,3.79
29517,WCWP 10A,[],"Boulter, Sherry Lee",WCWP 10A,The Writing Course A (0),Lower Div,FA,22,60,54,0.981,1.000,3.83,A-,3.78,A-,3.77
29519,WCWP 10A,[],"Johnson, Eric Lynn",WCWP 10A,The Writing Course A (0),Lower Div,FA,22,60,56,1.000,1.000,3.70,A-,3.95,A-,3.89
29523,WCWP 10A,[],"Savage, Sarah S",WCWP 10A,The Writing Course A (0),Lower Div,FA,22,60,45,0.955,1.000,3.70,A-,3.89,A-,3.92
31365,MUS 20,[],"Borgo, David Garcia",MUS 20,Exploring the Musical Mind (A),Lower Div,FA,22,56,31,0.867,0.966,2.69,A-,3.90,A-,3.87
42453,DOC 2,[],"Johnston, Emily Ronay",DOC 2,Justice (A),Lower Div,WI,22,277,259,0.918,0.996,6.39,A-,3.86,A-,3.82
42454,DOC 2,[],"Solomon, Amanda Lee Albaniel",DOC 2,Justice (B),Lower Div,WI,22,272,251,0.928,0.992,5.98,A-,3.88,A-,3.85
42455,DOC 2,[],"Strom, Megan C.",DOC 2,Justice (C),Lower Div,WI,22,241,224,0.861,0.978,5.97,A-,3.83,A-,3.71
42456,DOC 2,[],"Strom, Megan C.",DOC 2,Justice (D),Lower Div,WI,22,245,217,0.908,0.991,6.21,A-,3.84,A-,3.74
47636,LTEN 28,[],"Suzuki, Erin M.",LTEN 28,Intr/Asian-American Literature (A),Lower Div,WI,22,123,63,0.984,1.000,3.78,A-,3.83,A-,3.71

In [78]:
Unicorns = Boosters.groupby('course').mean(numeric_only=True).sort_values(by='Avg GPA Received',ascending=False)
Unicorns

,Term Year,Enroll,Evals Made,Rcmnd Class,Rcmnd Instructor,Study Hrs/wk,Avg GPA Expected,Avg GPA Received
course,,,,,,,,
DOC 1,22.0,250.25,229.750000,0.883500,0.952000,3.852500,3.855000,4.000000
MUS 6,22.0,94.00,60.000000,0.933000,0.966000,3.530000,3.890000,4.000000
COGS 10,22.0,300.00,232.000000,0.978000,0.996000,3.620000,3.870000,3.900000
MUS 13,22.0,99.00,57.000000,0.947000,0.982000,2.540000,3.950000,3.900000
MGT 16,22.0,108.50,94.000000,0.995000,0.989000,3.330000,3.945000,3.885000
MUS 20,22.0,56.00,31.000000,0.867000,0.966000,2.690000,3.900000,3.870000
MGT 12,22.0,102.00,77.250000,0.990750,0.993750,3.527500,3.935000,3.867500
COGS 9,22.0,182.00,152.500000,0.953500,0.978500,4.760000,3.735000,3.865000
PSYC 1,22.0,182.00,106.000000,0.973500,0.965000,4.760000,3.860000,3.865000
WCWP 10A,22.0,60.00,51.666667,0.978667,1.000000,3.743333,3.873333,3.860000
BILD 4,22.0,250.00,175.000000,0.952333,0.970167,3.161667,3.763333,3.811667
MUS 1A,22.0,138.00,97.000000,0.928000,0.959000,3.490000,3.660000,3.800000
TDGE 1,22.0,119.00,79.000000,0.936000,0.948000,3.690000,3.790000,3.790000
DOC 2,22.0,258.75,237.750000,0.903750,0.989250,6.137500,3.852500,3.780000
EDS 25,22.0,121.00,89.000000,0.989000,0.989000,5.060000,3.660000,3.780000
COMM 10,22.0,241.00,176.000000,0.942000,0.953000,3.750000,3.840000,3.780000
MGT 52,22.0,92.00,76.000000,0.987000,0.961000,3.430000,3.780000,3.740000
LTEN 28,22.0,123.00,63.000000,0.984000,1.000000,3.780000,3.830000,3.710000

In [79]:
# dfi.export(Unicorns, 'Unicorns.png')

/Applications/Brave Browser.app/Contents/MacOS/Brave Browser
/Applications/Brave Browser.app/Contents/MacOS/Brave Browser
/Applications/Brave Browser.app/Contents/MacOS/Brave Browser

In [84]:
PureUnicorns = Unicorns.drop(['DOC 1','WCWP 10A','DOC 2']).drop(columns=['Term Year'])
PureUnicorns

,Enroll,Evals Made,Rcmnd Class,Rcmnd Instructor,Study Hrs/wk,Avg GPA Expected,Avg GPA Received
course,,,,,,,
MUS 6,94.0,60.00,0.933000,0.966000,3.530000,3.890000,4.000000
COGS 10,300.0,232.00,0.978000,0.996000,3.620000,3.870000,3.900000
MUS 13,99.0,57.00,0.947000,0.982000,2.540000,3.950000,3.900000
MGT 16,108.5,94.00,0.995000,0.989000,3.330000,3.945000,3.885000
MUS 20,56.0,31.00,0.867000,0.966000,2.690000,3.900000,3.870000
MGT 12,102.0,77.25,0.990750,0.993750,3.527500,3.935000,3.867500
COGS 9,182.0,152.50,0.953500,0.978500,4.760000,3.735000,3.865000
PSYC 1,182.0,106.00,0.973500,0.965000,4.760000,3.860000,3.865000
BILD 4,250.0,175.00,0.952333,0.970167,3.161667,3.763333,3.811667
MUS 1A,138.0,97.00,0.928000,0.959000,3.490000,3.660000,3.800000
TDGE 1,119.0,79.00,0.936000,0.948000,3.690000,3.790000,3.790000
EDS 25,121.0,89.00,0.989000,0.989000,5.060000,3.660000,3.780000
COMM 10,241.0,176.00,0.942000,0.953000,3.750000,3.840000,3.780000
MGT 52,92.0,76.00,0.987000,0.961000,3.430000,3.780000,3.740000
LTEN 28,123.0,63.00,0.984000,1.000000,3.780000,3.830000,3.710000

In [83]:
# dfi.export(PureUnicorns, 'PureUnicorns.png')

/Applications/Brave Browser.app/Contents/MacOS/Brave Browser
/Applications/Brave Browser.app/Contents/MacOS/Brave Browser